

@font-face {
    font-family: 'DefaultFont';
    src: url('./fonts/London.ttf');
}

html, body {
    background: #448;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}
label {
    width: 100%;
}
canvas {
    position: relative;
    background: white;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
}

#links {
    color: white;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;

    padding: 5px;

    width: 200px;
    height: 100%;

    font-family: monospace;
    background: #337;
}
#links a {
    color: #88f;
}
#links:hover {
    z-index: 9;
}

.dialog {
    box-sizing: border-box;
    gap: 10px;
    width: unset;
    height: unset;
    max-width: 270px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #6f4b26;
    font-size: 16px;
    color: white;
    font-family: 'DefaultFont';
    box-shadow: 4px 4px 0px 0px black;
}
.dialog span {
    text-align: center;
}
.dialog input {
    color: white;
    border: none;
    line-height: 2em;
    font-size: 16px;
    padding: 5px;
    padding-bottom: 0;
    font-family: 'DefaultFont';
    background: black;
    max-width: 80%;
}
.dialog input:focus {
    outline: none;
    background: #333;
}
.dialog button {
    color: white;
    border: none;
    line-height: 2em;
    font-size: 16px;
    padding: 5px;
    padding-inline: 10px;
    padding-bottom: 0;
    cursor: pointer;
    font-family: 'DefaultFont';
    background: black;
}
.dialog button:hover {
    background: #333;
}
.dialog button:focus, .dialog input:focus {
    outline: 2px solid white;
}
.dialog.open {
    z-index: 9;
}