html, body {
    background: #ddd;
    height: 100%;
    margin: 0;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}
canvas {
    position: relative;
    background: white;
    max-width: 100%;
    max-height: 100%;
    z-index: 2;
}

#links {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;

    padding: 5px;

    width: 200px;
    height: 100%;

    font-family: monospace;
    border: 1px dashed black;
}